.stars-rating {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 100%;
}

.star {

    --star-scale: 0;
    --dot-scale: .8;

    --star-before-r: 0;
    --star-before-y: 0;

    --star-after-r: 0;
    --star-after-y: 0;

    --star-o: 1;

    --star-blur: 0;
    --star-y: 0;

    --color: #8A91B4;

    position: relative;

    width: 64px;
    height: 64px;

    flex-shrink: 0;
}

.star__dot {

    position: absolute;

    width: 24px;
    height: 24px;

    left: 50%;
    top: 50%;

    border-radius: 50%;

    background: var(--color);

    transform:
        translate(-50%, -50%)
        scale(var(--dot-scale));
}

.star__shape {

    position: absolute;
    inset: 0;

    opacity: var(--star-o);

    filter:
        blur(calc(var(--star-blur) * 1px));

    transform:
        translateY(calc(var(--star-y) * 1px))
        scale(var(--star-scale));
}

.star__shape-top,
.star__shape-bottom {

    position: absolute;
    inset: 0;

    background: var(--color);
}

.star__shape-top {

    clip-path:
        polygon(
            50% 5%,
            65% 35%,
            30% 60%,
            2.5% 40%,
            35% 35%
        );

    transform:
        translateY(calc(var(--star-before-y) * 1px))
        rotate(calc(var(--star-before-r) * 1deg));
}

.star__shape-bottom {

    clip-path:
        polygon(
            65% 35%,
            97.5% 40%,
            70% 60%,
            80% 95%,
            50% 74%,
            20% 95%,
            30% 60%
        );

    transform:
        translateY(calc(var(--star-after-y) * 1px))
        rotate(calc(var(--star-after-r) * 1deg));
}