$white-color: #d0d0d0;


.canvas-container {
    position: relative;

    width: min(100%, calc(100vh * var(--aspect-ratio)));
    height: min(100%, calc(100vh * var(--aspect-ratio)));

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    flex-direction: column;
    gap: 8px;
}

.canvas {
    position: relative;

    flex-shrink: 0;

    width: min(100%, calc(100vh * var(--aspect-ratio)));
    height: min(100%, calc(100vh * var(--aspect-ratio)));

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 18px;
    overflow: hidden;

    background: transparent;
}

.canvas-render-surface {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
}

.canvas-light-mode {
    background:
        conic-gradient(
            #fff 25%,
            #e8e8e8 0 50%,
            #fff 0 75%,
            #e8e8e8 0
        )
        0 0 / 32px 32px;
}

.canvas-dark-mode {
    background:
        conic-gradient(
            #2b2b2b 25%,
            #222 0 50%,
            #2b2b2b 0 75%,
            #222 0
        )
        0 0 / 32px 32px;
}